// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercise-index {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exercise-index-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  height: 70px;
  font-size: 13px;
  transition: all .1s linear;
  border-bottom: 1px solid lightgrey;
  &:last-child {
    border-bottom: none;
  }
}

.exercise-index-item div {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e9e9e9;
}

.exercise-name {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  left: 10px;
  width: 36%;
  max-width: 222px;
  height: 100%;
  border-right: 1px solid lightgrey;
  padding: 0 5px;
  background-color: white;
}

.column-spacer {
  width: 36%;
  padding: 0 5px;
  border-right: 1px solid transparent;
}

.tempo, .rest, .rpe, .exercise-small-column, .notes {
  text-align: center;
  font-size: 11px;
  padding: 0 5px;
  border-right: 1px solid transparent;
}

.tempo {
  width: 16%;
}

.rest, .rpe {
  width: 11%;
}

.exercise-small-column {
  width: 13%;
}

.notes {
  width: 15%;
}
