// Place all the styles related to the api/programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#program-index-container {
  margin: 10px 0;
  position: absolute;
  top: 70px;
  width: 100%;
}

#program-index {
  display: flex;
  flex-direction: column;
}

.program-index-item-container {
  border-bottom: 1px solid lightgrey;
  &:last-child {
    border-bottom: none;
  }
}

.program-index-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  height: 70px;
  transition: all .1s linear;
}

.program-index-item:hover {
  background-color: lightblue;
}

.program-name-and-update {
  width: 60%;
}

.program-weeks-and-days {
  width: 40%;
}

.program-name {
  font-weight: 600;
}

.program-last-updated {
  color: grey;
}

.program-weeks, .program-days-per-week {
  text-align: right;
}

.program-comments {
  // text-overflow: ellipsis;
}

#weeks-nav {
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 76px;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #cbf2ff;
}

#weeks-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.week-list-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-right: 1px solid grey;
  &:last-child {
    border-right: none;
  }
}

.day-index {
  position: relative;
  top: 157px;
  width: 100%;
  animation: fadein .4s linear;
}

.day-index-item {
  position: relative;
  min-height: 120px;
  width: 100%;
}

.day-index-item-day {
  line-height: 30px;
}

.day-header {
  display: flex;
  z-index: 3 !important;
  height: 30px;
  width: -webkit-fill-available;
  line-height: 30px;
  padding: 0 10px;
  background-color: #e7e7e7;
}

#column-header {
  position: fixed;
  z-index: 4;
  top: 157px;
  display: flex;
  height: 30px;
  width: -webkit-fill-available;
  padding: 0 10px;
  font-size: 10px;
  line-height: 30px;
}

#sticky-wrapper {
  background-color: #e7e7e7;
}

.day-header div {
  font-size: 10px;
}

.tall-test-div {
  height: 700px;
}
