// Place all the styles related to the api/programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#program-index-container {
  margin: 10px 0;
}

#program-index {
  display: flex;
  flex-direction: column;
}

.program-index-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  height: 70px;
  transition: all .1s linear;
}

.program-index-item:hover {
  background-color: lightblue;
}

.program-name-and-update {
  width: 60%;
}

.program-weeks-and-days {
  width: 40%;
}

.program-name {
  font-weight: 600;
}

.program-last-updated {
  color: grey;
}

.program-weeks, .program-days-per-week {
  text-align: right;
}

.program-comments {
  // text-overflow: ellipsis;
}
