/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, button,
input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
  letter-spacing: .5px;
  background-color: #e7e7e7;
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

 /*/////////////////////////
 /          App            /
 /////////////////////////*/

.App {
  /* overflow-x: hidden; */
}

.App-logo {
  position: absolute;
  left: 10px;
  top: 0;
  filter: invert(100%);
  height: 40px;
  width: 40px;
}

.App-header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #16324F;
  height: 35px;
  padding: 20px 0;
  border-bottom: 1px solid grey;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.index-header {
  display: flex;
  line-height: 40px;
  padding-left: 10px;
}

.index-header p {
  font-size: 11px;
}

.index-name {
  margin-right: 5%;
}

.sorters {
  margin: 0 0 0 15px;
  padding: 0 10px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadebye {
  0% { opacity: 1; display: block; }
  50% { opacity: .5; display: block; }
  90% { opacity: 0; display: block; }
  100% { opacity: 0; display: none; }
}
